# Ignore distribution folders
dist/
build/
*.egg-info/

# Ignore virtual environment folder
venv/

# Ignore manim media folder
media/

# Ignore ManimGL's equivalent as well
videos/

# Ignore demo for now
demo/

# Ignore pycaches
**/__pycache__/
.pytest_cache/


# Ignore VSCode tasks
.vscode/

# Ignore DS Store files
.DS_Store

# Ignore pytest coverage
.coverage
htmlcov